.container {
    max-width: 1100px;
    margin: auto;
}
.card-header {
    font-weight: bold;
}
.text-center img {
    width: 150px;
    height: 150px;
}
.btn-primary {
    width: 100%;
    margin-top: 10px;
}
.mb-4 {
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between; /* Đảm bảo khoảng cách giữa các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}

.d-flex p {
    margin: 0; /* Loại bỏ margin mặc định để căn chính xác */
}
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .card {
        margin-bottom: 20px;
    }
}
